@media screen and (max-width: 410px) and (min-width: 393px) {
  .cont-head {
    height: 9vh;
  }

  .cont-head-modified {
    height: 9vh;
  }

  /****  TITLE ****/

  .title-div {
    width: 40%;
    margin: 2vh 0 0 0;
  }

  .title-div-modified {
    width: 38%;
    margin: 3.2vh auto 0 2.5vw;
  }

  .title-text-class,
  .title-text-modified {
    font-size: 21.5px;
    text-align: center;
  }

  /**** GITHUB LOGO ****/

  .github-class {
    margin: 1.2vh 1.7vw 0 0;
  }

  .github-modified {
    margin: 2.4vh 4.5vw 0 0;
  }

  /******************  INTRO CONTENT ****************/

  .intro {
    padding-top: 10vh;
    font-size: 21px;
  }

  .intro-head {
    font-size: 35px;
    width: 60%;
  }

  /******************  BLURRED SECTION CONTENT ****************/

  .presentation {
    height: 62vh;
  }

  .blurred-section {
    height: 93vh;
  }

  .blurred-section-header {
    width: 100%;
    margin: 10px auto 0 auto;
  }

  .blurred-text-header {
    font-size: 30px;
  }

  .blurred-text-paragraph {
    width: 100%;
    font-size: 26px;
  }

  /****  ITEM TEXT/IMAGES ****/

  .left-item,
  .right-item {
    height: 15.5vh;
  }

  .item-text {
    width: 80%;
    height: 12vh;
    margin-top: 2.5vh;
  }

  .item-header,
  .item-paragraph {
    font-size: 17.5px;
  }

  .item-img {
    width: 29%;
    height: 11vh;
  }

  .li-img {
    height: 11vh;
  }

  /******************  LANGUAGES SECTION CONTENT ****************/

  .bootstrap-section,
  .tailwind-section,
  .sass-section,
  .react-section,
  .jQuery-section {
    height: 27vh;
    margin: 3.5vh auto;
  }

  .bootstrap,
  .tailwind,
  .sass,
  .react,
  .jQuery {
    height: 41vh;
    margin: 10px auto auto;
  }

  .bootstrapImgDiv,
  .tailwindImgDiv,
  .sassImgDiv,
  .reactImgDiv,
  .jQueryImgDiv {
    width: 16.5%;
  }

  .bootstrap-text-div,
  .tailwind-text-div,
  .sass-text-div,
  .react-text-div,
  .jQuery-text-div {
    height: 25vh;
  }

  .bootstrap-text-header,
  .tailwind-text-header,
  .sass-text-header,
  .react-text-header,
  .jQuery-text-header {
    margin-bottom: 5.5vh;
  }

  .bootstrap-text-paragraph,
  .tailwind-text-paragraph,
  .sass-text-paragraph,
  .react-text-paragraph,
  .jQuery-text-paragraph {
    font-size: 18px;
    height: 14.5vh;
    letter-spacing: 1px;
    line-height: 1.6;
  }
}

@media screen and (max-width: 431px) and (min-width: 411px) {

  /****  TITLE ****/

  .title-div {
    width: 40%;
    margin: 2vh 0 0 0;
  }

  .title-div-modified {
    width: 38%;
    margin: 3.1vh auto 0 2.5vw;
  }

  .title-text-class,
  .title-text-modified {
    font-size: 23px;
    text-align: center;
  }

  /**** GITHUB LOGO ****/

  .github-class {
    width: 9%;
    margin: 1.5vh 1.7vw 0 0;
  }

  .github-modified {
    width: 8.6%;
    margin: 2.6vh 4.1vw 0 0;
  }

  /******************  INTRO CONTENT ****************/

  .intro {
    padding-top: 10vh;
    font-size: 21px;
  }

  .intro-head {
    font-size: 35px;
    width: 60%;
  }

  /******************  BLURRED SECTION CONTENT ****************/

  .presentation {
    height: 62vh;
  }

  .blurred-section {
    height: 93vh;
  }

  .blurred-section-header {
    width: 100%;
    margin: 10px auto 0 auto;
  }

  .blurred-text-header {
    font-size: 30px;
  }

  .blurred-text-paragraph {
    width: 90%;
    font-size: 26px;
  }

  /****  ITEM TEXT/IMAGES ****/

  .left-item,
  .right-item {
    height: 16vh;
  }

  .item-text {
    width: 80%;
    height: 12.5vh;
    margin-top: 2vh;
  }

  .item-header,
  .item-paragraph {
    font-size: 19px;
  }

  .item-img {
    width: 29%;
    height: 10.5vh;
  }

  .li-img {
    height: 10.5vh;
  }

  /******************  LANGUAGES SECTION CONTENT ****************/

  .bootstrap-section,
  .tailwind-section,
  .sass-section,
  .react-section,
  .jQuery-section {
    height: 27vh;
    margin: 3.5vh auto;
  }

  .bootstrap,
  .tailwind,
  .sass,
  .react,
  .jQuery {
    height: 41vh;
    margin: 10px auto auto;
  }

  .bootstrapImgDiv,
  .tailwindImgDiv,
  .sassImgDiv,
  .reactImgDiv,
  .jQueryImgDiv {
    width: 16.5%;
  }

  .bootstrap-text-div,
  .tailwind-text-div,
  .sass-text-div,
  .react-text-div,
  .jQuery-text-div {
    height: 25vh;
  }

  .bootstrap-text-header,
  .tailwind-text-header,
  .sass-text-header,
  .react-text-header,
  .jQuery-text-header {
    margin-bottom: 5.5vh;
  }

  .bootstrap-text-paragraph,
  .tailwind-text-paragraph,
  .sass-text-paragraph,
  .react-text-paragraph,
  .jQuery-text-paragraph {
    font-size: 18px;
    height: 14.5vh;
    letter-spacing: 1px;
    line-height: 1.6;
  }
}
